<?xml version="1.0" encoding="utf-8" ?>
<!--Important: 
  - Set the value of property [Copy to Output Directory] to Copy Always
  - Copy <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" /> to main config file under <configSections> node
  - Copy <log4net configSource="log4net.config" /> to main config file under <configuration> node-->
<log4net>
  <appender name="WindowsDebugOutput" type="log4net.Appender.DebugAppender, log4net">
    <layout type="log4net.Layout.PatternLayout,log4net">
      <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %c{1}:%L - %m%n" />
    </layout>
  </appender>
  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <File value="D:\\mylogfile.txt" />
    <AppendToFile value="true" />
    <rollingStyle value="Size" />
    <maximumFileSize value="10MB" />
    <maxSizeRollBackups value="10" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline%exception" />
    </layout>
  </appender>
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d [%t] %-5level - %type - %m%n%n" />
    </layout>
  </appender>
  <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
    <bufferSize value="10" />
    <connectionType value="System.Data.SqlClient.SqlConnection" />
    <connectionString value="Data Source=...;Database=...;Integrated Security=True;" />
    <commandText value="INSERT INTO dbo.Log ([Date],[Server],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @server, @log_level, @logger, @message, @exception)" />
    <parameter>
      <parameterName value="@log_date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <parameter>
      <parameterName value="@server" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{SERVER}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@log_level" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@logger" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@message" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@exception" />
      <dbType value="String" />
      <size value="2000" />
      <layout type="log4net.Layout.ExceptionLayout" />
    </parameter>
  </appender>
  <root>
    <appender-ref ref="RollingFileAppender"/>
    <!--LogLevel: OFF, FATAL, ERROR, WARN, INFO, DEBUG, ALL-->
    <level value="ALL" />
  </root>
</log4net>
