<ul class="navbar-nav bg-gradient-whiter sidebar sidebar-light accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index", "RAL")">
        <div class="sidebar-brand-icon rotate-n-0">
            <img width="90%" src="~/Content/img/banner.png" />
        </div>
    </a>
    <hr class="sidebar-divider my-0">
    <hr class="sidebar-divider">


    <!-- Heading -->
    <div class="sidebar-heading">
        Menu
    </div>
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="@Url.Action("Index", "RAL")" data-toggle="tooltip" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fa fa-address-card"></i>
            <span>RAL</span>
        </a>
        <a class="nav-link collapsed" href="@Url.Action("Index", "FLL")" data-toggle="tooltip" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fa fa-address-card"></i>
            <span>FLL</span>
        </a>
    </li>
</ul>
