<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ARMSV2Entities" connectionString="metadata=res://*/EntityFramework.EamsModel.csdl|res://*/EntityFramework.EamsModel.ssdl|res://*/EntityFramework.EamsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RRGCOMBCSD001;initial catalog=ARMSV2;user id=sa;password=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RAL_DevEntities" connectionString="metadata=res://*/EntityFramework.RAL.RAL.csdl|res://*/EntityFramework.RAL.RAL.ssdl|res://*/EntityFramework.RAL.RAL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RRGCOMDEVD001;initial catalog=RAL_Dev;persist security info=True;user id=sa;password=rrg5QLpwd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CommonEntities" connectionString="metadata=res://*/EntityFramework.Common.Common.csdl|res://*/EntityFramework.Common.Common.ssdl|res://*/EntityFramework.Common.Common.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RRGCOMDEVD001;initial catalog=Common;persist security info=True;user id=sa;password=rrg5QLpwd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>